<div th:fragment="sidebar" class="side-bar" >
    <ul class="fs-5 mt-4">
        <li class="title"><a href="/"><i class="fa-solid fa-house fs-2"></i> Home</a></li>
        <li class="my-3">
            <a href="/">
                <i class="fa-solid fa-camera"></i>
                <div>Tutte le Foto</div>
            </a>
        </li>
        <li >
            <a href="/">
                <i class="fa-solid fa-atom"></i>
                <div>Tutte le Categorie</div>
            </a>
        </li>
    </ul>
</div>