<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: myhead}"></div>
</head>
<body>

<div class="d-flex">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <main id="main-container" class="w-100 position-relative" th:object="${image}">
        <div class="d-flex justify-content-center flex-wrap align-items-start mt-5">

            <div class="d-flex col-9">
                <div class="col-6 me-3 position-relative">
                    <img th:src="@{*{url}}" alt="">
                    <a class="btn btn-primary edit" th:href="@{|/images/edit/*{id}|}" ><i class="fa-solid fa-pencil"></i></a>
                </div>
                <div class="col-6">
                    <h2 class="text-capitalize" th:text="*{title}"></h2>
                    <dl>
                        <dt>Visibile:</dt>
                        <dd th:text="*{visible} ? 'Si' : 'No'"></dd>
                        <th:block th:unless="${#strings.isEmpty(image.description)}">
                            <dt>Descrizione:</dt>
                            <dd th:text="*{description}"></dd>
                        </th:block>
                    </dl>
                </div>
            </div>
            <div class="col-9 my-3 d-flex align-items-center" >
                <a th:if="${ missingCategories.size > 0}" th:href="@{|/images/${image.id}|(tryToAddCategory=true)}" class="btn btn-danger me-3"><i class="fa-solid fa-plus"></i></a>
                <h4 class="me-5">Categorie:</h4>
                <th:block th:if="${message}">
                    <div class="col-7 mb-2 alert alert-dismissible fade show" th:classAppend="${#strings.equals(message.type, 'SUCCESS')} ? alert-success : alert-danger">
                        <div th:text="${message.text}"></div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </th:block>
            </div>
            <table class="col-9 mx-3">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Rimuovi</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="element : ${image.categories}" th:object="${element}">
                    <th th:text="*{id}"></th>
                    <td th:text="*{name}"></td>
                    <td>
                        <a class="btn btn-danger" th:href="@{|/images/${image.id}/remove/*{id}|}" ><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
                <tr th:if="${addCategory && missingCategories.size > 0}">
                    <th></th>
                    <td>
                        <form th:action="@{|/images/${image.id}|}" method="get" class="d-flex" >
                            <div class="me-2">
                                <input type="hidden" value="true" name="tryToAddCategory">
                                <select name="categoryId" class="form-select">
                                    <option value="" selected>Seleziona la categoria...</option>
                                    <option th:each="element : ${missingCategories}" th:value="${element.id}" th:text="${element.name}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Aggiungi</button>
                            <a th:href="@{|/images/${image.id}|}" class="btn btn-danger">Annulla</a>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </main>
</div>

</body>
</html>